/* Color palette */
/* Fonts */
/* Padding & Margins */
/* Breakpoints for Media Queries */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: inherit;
  font-weight: 300;
  font-size: 0.9rem;
}

h1 {
  font-weight: 800;
  font-size: 3rem;
  margin: 2rem 0rem;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

h3 {
  text-align: center;
  font-size: 1.2rem;
  margin: 2rem auto;
}

@keyframes showMenu {
  to {
    left: 0;
  }
}
header {
  background-color: #0d0d0d;
  color: #f2f2f2;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__logo__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.header__logo__image {
  width: 50px;
}

.header__logo__text {
  color: #f2f2f2;
  font-weight: bold;
  padding-left: 1rem;
  text-decoration: none;
  display: none;
}

.header__profile__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50px;
}

.header__profile__image {
  width: 30px;
  height: 30px;
  margin: auto 0;
}

.header__profile__name {
  line-height: 12px;
  text-decoration: none;
  color: #f2f2f2;
}

.header__toggle__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.header__toggle__icon {
  background: #0d0d0d;
  color: #f2f2f2;
  width: 50px;
  font-size: 2rem;
  display: block;
}

.header__navbar__container {
  display: none;
}

.header__navbar {
  margin-top: 3rem;
}
.header__navbar ul {
  list-style-type: none;
  text-transform: uppercase;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: normal;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.header__navbar a {
  position: relative;
  text-decoration: none;
  color: #f2f2f2;
}
.header__navbar a::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: transform 0.5s ease;
  transform: scaleX(0);
  transform-origin: right;
}
.header__navbar a:hover::before {
  transition: transform 0.5s ease;
  transform: scaleX(1);
  transform-origin: left;
}

footer {
  background-color: #f2f2f2;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: normal;
  flex-wrap: wrap;
}

.footer__contact__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: normal;
  flex-wrap: wrap;
  width: 100%;
  margin: 1rem 0rem;
}

.footer__contact__form__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: normal;
  flex-wrap: wrap;
  width: 49%;
}

.footer__contact__form__userdata {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  flex-wrap: wrap;
}

.footer__contact__title {
  font-weight: bold;
  text-align: center;
}

.footer__contact__form__item {
  width: 100%;
  padding-left: 0.5rem;
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.footer__contact__form__message {
  width: 100%;
  height: 100%;
  padding-left: 0.5rem;
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.footer__contact__form__buttoncontainer {
  display: flex;
  flex-direction: flex-end;
  justify-content: flex-start;
  align-items: normal;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.footer__contact__form__button {
  all: unset;
  text-align: center;
  font-weight: 500;
  background-color: transparent;
  border: #0d0d0d solid 2px;
  color: #0d0d0d;
  border-radius: 30px;
  transition: 0.4s ease;
  width: 20%;
  min-width: 50px;
  font-size: 0.8rem;
}
.footer__contact__form__button:hover, .footer__contact__form__button:focus-within {
  color: #f2f2f2;
  background-color: #0d0d0d;
  transition: 0.4s ease;
}

.footer__socialmedia__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: normal;
  flex-wrap: wrap;
  margin: 1rem 0rem;
}

.footer__socialmedia__title {
  font-weight: bold;
  text-align: center;
}

.footer__socialmedia__logocontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.footer__socialmedia__logo {
  width: 24px;
  height: 24px;
  margin: 0 1rem;
}

.footer__copyright {
  text-align: center;
  color: #f2f2f2;
  background-color: #0d0d0d;
  font-size: 0.6rem;
  padding: 0.2rem 0;
}

.about__container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: normal;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

.about__description__container {
  text-align: justify;
  width: 100%;
  margin-top: 3rem;
}

.about__image__container {
  width: 100%;
  overflow: hidden;
}

.about__image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.chachos__container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: normal;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

.chachos__description__container {
  text-align: justify;
  width: 100%;
  margin-top: 3rem;
}

.chachos__image__container {
  width: 100%;
  overflow: hidden;
}

.titles__container {
  margin-top: 5rem;
}

.titles__cards__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.titles__cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: normal;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: transform 0.5s ease;
  width: max(300px, 30%);
  border: lightgrey 1px solid;
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.titles__cards:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.1);
  transition: transform 0.5s ease;
  background-color: rgba(13, 13, 13, 0.8);
  color: #f2f2f2;
}

.titles__cards__title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: normal;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding-left: 1rem;
}

.titles__cards__images {
  width: 48px;
  height: 48px;
  margin: auto 0;
}

.titles__cards__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.titles__cards__text {
  margin-top: 1rem;
  padding: 1rem 2rem 2rem;
  text-align: justify;
  font-size: 0.8rem;
}

.presentation__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.presentation__information {
  text-transform: capitalize;
  width: 100%;
}
.presentation__information h1 {
  font-family: "Tilt Warp";
}
.presentation__information h3 {
  font-weight: 300;
}
.presentation__information h3 span {
  font-size: inherit;
  font-family: "Tilt Warp";
  font-weight: bold;
}

.presentation__image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.presentation__description {
  text-align: justify;
}

.presentation__credentials {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: normal;
  flex-wrap: wrap;
  margin-top: 2rem;
  width: max(300px, 30%);
  border: rgb(215, 203, 186) 6px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2rem;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: normal;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.login__form > a {
  font-size: 0.7rem;
  margin-top: 0.5rem;
  text-decoration: none;
}
.login__form > a:hover {
  text-decoration: underline;
}

.login__form__label {
  margin-top: 1rem;
  font-weight: 500;
}

.login__form__element {
  margin-top: 1rem;
  height: 40px;
  padding-left: 0.5rem;
}

.login__button {
  all: unset;
  text-align: center;
  font-weight: 500;
  background-color: transparent;
  border: #0d0d0d solid 2px;
  color: #0d0d0d;
  border-radius: 30px;
  transition: 0.4s ease;
  margin: 3rem auto 0rem;
  height: 40px;
  width: 100%;
}
.login__button:hover, .login__button:focus-within {
  color: #f2f2f2;
  background-color: #0d0d0d;
  transition: 0.4s ease;
}

.register__request__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: normal;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.register__request__text {
  font-size: 0.7rem;
}

.register__request__link {
  font-size: 0.7rem;
  padding-left: 0.5rem;
  text-decoration: none;
}
.register__request__link:hover {
  text-decoration: underline;
}

.my__content__container {
  margin-top: 5rem;
}

.my__content__cards__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  flex-wrap: wrap;
}

.my__content__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: normal;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: transform 0.5s ease;
  border: lightgray solid 1px;
  text-align: justify;
  padding: 3rem 1.5rem;
  margin: 1rem;
  width: max(300px, 30%);
  min-height: 350px;
}
.my__content__card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.1);
  transition: transform 0.5s ease;
  background-color: rgba(13, 13, 13, 0.8);
  color: #f2f2f2;
}

.my__content__card__image {
  margin: 0 auto;
  width: 100px;
}

.my__content__card__title {
  font-weight: bold;
}

.messages__container {
  margin-top: 5rem;
}

.messages__cards__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.messages__cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: normal;
  flex-wrap: wrap;
  width: max(300px, 30%);
  border: lightgrey 1px solid;
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.messages__cards__title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: normal;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding-left: 1rem;
}

.messages__cards__images {
  width: 24px;
  height: 24px;
  margin: auto 0;
}

.messages__cards__profileinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  flex-wrap: wrap;
  margin-left: 2rem;
}

.messages__cards__username {
  font-weight: bold;
  margin-bottom: 0;
}

.messages__cards__email {
  font-size: 0.7rem;
  margin-bottom: 0;
}

.messages__cards__text {
  margin-top: 1rem;
  padding: 0.5rem 1rem 1rem;
  text-align: justify;
  font-size: 0.8rem;
}

.register__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.register__chart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: normal;
  flex-wrap: wrap;
  width: 30%;
  min-width: 300px;
  padding: 0rem 2rem 3rem;
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.register__chart__title {
  text-align: center;
  padding-top: 1rem;
  font-weight: bold;
}

.register__chart__description {
  text-align: center;
  padding-top: 2.5rem;
  font-size: 0.8rem;
}

#register__form {
  padding-top: 1rem;
}

.register__form__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: normal;
  flex-wrap: wrap;
}

.register__form__element {
  margin: 1rem 0rem 0.5rem;
  font-weight: 500;
}

.register__form__input {
  padding-left: 0.5rem;
}

.register__form__buttoncontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  flex-wrap: wrap;
  margin-top: 2rem;
  display: flex;
}

.register__form__button {
  all: unset;
  text-align: center;
  font-weight: 500;
  background-color: transparent;
  border: #0d0d0d solid 2px;
  color: #0d0d0d;
  border-radius: 30px;
  transition: 0.4s ease;
  line-height: 30px;
  width: 100px;
}
.register__form__button:hover, .register__form__button:focus-within {
  color: #f2f2f2;
  background-color: #0d0d0d;
  transition: 0.4s ease;
}

.prode__title {
  font-size: 1.5rem;
  font-weight: bold;
}

.prode__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: normal;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

.prode__form__card__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  flex-wrap: wrap;
  gap: 1rem;
}

.prode__form__card {
  border: solid 1px lightgray;
  border-radius: 5px;
  width: clamp(300px, 90vw, 400px);
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 3rem 3rem;
  /* grid-template-rows: auto auto auto 100px; */
  grid-template-areas: "league date date" "team_local match_outcome score_local" "team_visitor match_outcome score_visitor" "condition condition condition";
}

.prode__form__card__league {
  grid-area: league;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 200;
}

.prode__form__card__date {
  grid-area: date;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
}

.prode__form__card__team--local {
  grid-area: team_local;
  margin-bottom: 0;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.prode__form__card__team--visitor {
  grid-area: team_visitor;
  margin-bottom: 0;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.prode__form__card__matchoutcome {
  grid-area: match_outcome;
  width: 3rem;
  font-weight: 500;
  border: solid 1px darkgrey;
  border-radius: 5px;
}

.prode__form__card__score--local {
  grid-area: score_local;
  font-weight: 500;
  min-height: 25px;
  border: solid 1px darkgrey;
  border-radius: 5px;
}

.prode__form__card__score--visitor {
  grid-area: score_visitor;
  font-weight: 500;
  min-height: 25px;
  border: solid 1px darkgrey;
  border-radius: 5px;
}

.prode__form__card__condition {
  grid-area: condition;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.8rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
  padding: 0.5rem 0.25rem;
  background-color: #f2f2f2;
  text-align: center;
  min-height: 50px;
}

.prode__form__button__submit {
  all: unset;
  text-align: center;
  font-weight: 500;
  background-color: transparent;
  border: #0d0d0d solid 2px;
  color: #0d0d0d;
  border-radius: 30px;
  transition: 0.4s ease;
  width: clamp(100px, 30vw, 200px);
  display: block;
  margin: 2rem auto 0rem;
  padding: 0.5em;
}
.prode__form__button__submit:hover, .prode__form__button__submit:focus-within {
  color: #f2f2f2;
  background-color: #0d0d0d;
  transition: 0.4s ease;
}

.cronicas__newproduct {
  background-color: beige;
  min-height: 400px;
}

.cronicas__newproduct__title {
  padding-top: 60px;
  width: 100%;
}

.cronicas__newproduct__description {
  width: min(700px, 75%);
  margin: 0 auto;
  text-align: center;
}

.cronicas__newproduct__button {
  all: unset;
  text-align: center;
  font-weight: 500;
  background-color: transparent;
  border: #0d0d0d solid 2px;
  color: #0d0d0d;
  border-radius: 30px;
  transition: 0.4s ease;
  width: 200px;
  line-height: 40px;
  display: block;
  margin: 4rem auto 0;
}
.cronicas__newproduct__button:hover, .cronicas__newproduct__button:focus-within {
  color: #f2f2f2;
  background-color: #0d0d0d;
  transition: 0.4s ease;
}

.cronicas__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  flex-wrap: wrap;
  margin: 4rem 0rem;
}

.cronicas__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: normal;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: transform 0.5s ease;
  border-color: lightgray;
  border-width: 1px;
  border-style: solid;
  text-align: justify;
  margin: 1rem;
  padding: 3rem 1.5rem;
  min-height: 350px;
  width: max(300px, 30%);
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.cronicas__card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.1);
  transition: transform 0.5s ease;
  background-color: rgba(13, 13, 13, 0.8);
  color: #f2f2f2;
}

.cronicas__card__image {
  margin: 0 auto;
  width: 100px;
}

.cronicas__card__title {
  font-weight: bold;
}

.admin__container {
  position: relative;
  background: #f6f6f9;
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
}

aside {
  /* General Concepts for Aside */
  background: #fff;
  display: none;
  z-index: 90;
  position: absolute;
  width: 18rem;
  height: 100%;
  left: -100%;
  animation: showMenu 0.5s ease forwards;
  /* Top Aside */
  /* Sidebar Menu */
}
aside .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
aside .top h1 {
  margin: 0.5rem 0 0 0.8rem;
  text-align: start;
  text-transform: none;
  font-size: 1.2rem;
  font-weight: 700;
}
aside .top h1 span {
  font-size: 1.2rem;
  font-weight: 700;
  color: #7380ec;
}
aside .top .close {
  cursor: pointer;
}
aside .sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: normal;
  flex-wrap: wrap;
  padding-left: 0.8rem;
}
aside h2 {
  margin: 2rem 0 0.5rem 0rem;
  text-align: start;
  text-transform: uppercase;
  font-size: 0.88rem;
  font-weight: 500;
}
aside a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
  color: #7d8da1;
  padding-left: 1rem;
  gap: 0.5rem;
  height: 2.5rem;
  transition: all 0.3s ease;
  /* Item activo del Sidebar */
}
aside a:last-child {
  margin-bottom: 3rem;
}
aside a:hover {
  color: #7380ec;
}
aside a:hover span {
  margin-left: 1rem;
}
aside a span {
  transition: all 0.3s ease;
}
aside a h3 {
  margin: 0;
  font-size: 0.88rem;
  font-weight: 300;
}
aside a.admin__aside__item--active {
  background: rgba(132, 139, 200, 0.18);
  color: #7380ec;
  padding-left: 0rem;
}
aside a.admin__aside__item--active::before {
  content: "";
  width: 6px;
  height: 100%;
  background: #7380ec;
}
aside a.admin__aside__item--active span {
  margin-left: calc(1rem - 6px - 0.5rem);
}

.admin__main button {
  border: none;
  background: transparent;
}
.admin__main h2 {
  font-weight: 300;
  text-transform: none;
}
.admin__main h2 span {
  font-size: 2rem;
  font-weight: bold;
  color: #7380ec;
}

@media (min-width: 576px) {
  /* Cambios en el Index */
  .presentation__image {
    height: 250px;
  }
  /* Cambios en el Footer */
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__contact__container {
    width: 70%;
  }
  .footer__contact__title {
    text-align: start;
  }
  .footer__socialmedia__logocontainer {
    justify-content: space-between;
  }
  .footer__socialmedia__logo {
    margin: 0;
  }
}
@media (min-width: 768px) {
  /* Cambios en el Header y Navbar */
  .header__logo__text {
    display: flex;
  }
  .header__profile__container {
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }
  .header__profile__name {
    margin: 0 0 0 1.5rem;
  }
  .header__toggle__container {
    display: none;
  }
  .header__navbar__container {
    display: block;
    width: 100%;
  }
  .header__navbar {
    margin-top: 1rem;
  }
  .header__navbar ul {
    gap: 1rem;
    flex-direction: row;
    padding-left: 0;
    justify-content: space-between;
  }
  .header__navbar a {
    text-align: center;
    display: block;
    width: clamp(5rem, 15vw, 7rem);
    line-height: 30px;
  }
  /* Cambios en el About */
  .about__container {
    flex-direction: row;
    justify-content: space-between;
  }
  .about__description__container {
    width: 50%;
    margin-top: 0rem;
  }
  .about__image__container {
    width: 45%;
  }
  .chachos__container {
    flex-direction: row;
    justify-content: space-between;
  }
  .chachos__description__container {
    width: 50%;
    margin-top: 0rem;
  }
  .chachos__image__container {
    width: 45%;
  }
  /* Cambios en el Admin Panel */
  .admin__container aside {
    display: inline-block;
    opacity: 1;
  }
  .admin__container aside .top .close {
    display: none;
  }
  .admin__container .admin__main button {
    display: none;
  }
}
@media (min-width: 992px) {
  /* Cambios en el Index */
  .presentation__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .presentation__information {
    width: 55%;
  }
  .presentation__credentials {
    margin-top: 0;
    width: 40%;
  }
}

/*# sourceMappingURL=style.css.map */
