.admin__container {
  position: relative;
  background: $color-background;
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
}

aside {
  /* General Concepts for Aside */
  background: $color-white;
  display: none;
  z-index: 90;
  position: absolute;
  width: 18rem;
  left: -100%;
  animation: showMenu 0.5s ease forwards;

  /* Top Aside */
  .top {
    @include fullflex(row, space-between, center);
    h1 {
      margin: 0.5rem 0 0 0.8rem;
      text-align: start;
      text-transform: none;
      font-size: 1.2rem;
      font-weight: 700;
      span {
        font-size: 1.2rem;
        font-weight: 700;
        color: $color-primary;
      }
    }
    .close {
      cursor: pointer;
    }
  }
  /* Sidebar Menu */
  .sidebar {
    @include fullflex(column);
    padding-left: 0.8rem;
  }
  h2 {
    margin: 2rem 0 0.5rem 0rem;
    text-align: start;
    text-transform: uppercase;
    font-size: 0.88rem;
    font-weight: 500;
  }
  a {
    @include fullflex(row, flex-start, center);
    text-decoration: none;
    color: $color-info-dark;
    padding-left: 1rem;
    gap: $gap-admin-aside;
    height: 2.5rem;
    transition: all 0.3s ease;
    &:last-child {
      margin-bottom: 3rem;
    }
    &:hover {
      color: $color-primary;
      span {
        margin-left: 1rem;
      }
    }
    span {
      transition: all 0.3s ease;
    }
    h3 {
      margin: 0;
      font-size: 0.88rem;
      font-weight: 300;
    }
    /* Item activo del Sidebar */
    &.admin__aside__item--active {
      background: $color-light;
      color: $color-primary;
      padding-left: 0rem;
      &::before {
        content: "";
        width: 6px;
        height: 100%;
        background: $color-primary;
      }
      span {
        margin-left: calc(1rem - 6px - $gap-admin-aside);
      }
    }
  }
}

.admin__main {
  button {
    border: none;
    background: transparent;
  }
  h2 {
    font-weight: 300;
    text-transform: none;
    span {
      font-size: 2rem;
      font-weight: bold;
      color: $color-primary;
    }
  }
}
