.cronicas__newproduct {
  background-color: beige;
  min-height: 400px;
}

.cronicas__newproduct__title {
  padding-top: 60px;
  width: 100%;
}

.cronicas__newproduct__description {
  width: min(700px, 75%);
  margin: 0 auto;
  text-align: center;
}

.cronicas__newproduct__button {
  @include submitbutton;
  width: 200px;
  line-height: 40px;
  display: block;
  margin: 4rem auto 0;
}

.cronicas__container {
  @include fullflex(row, center);
  margin: 4rem 0rem;
}

.cronicas__card {
  @include fullflex(column);
  @include plaincard;
  border-color: lightgray;
  border-width: 1px;
  border-style: solid;
  text-align: justify;
  margin: 1rem;
  padding: 3rem 1.5rem;
  min-height: 350px;
  width: max(300px, 30%);
  background-color: $pentannary-color;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  &:hover {
    @include hoveredcard;
  }
}

.cronicas__card__image {
  margin: 0 auto;
  width: 100px;
}

.cronicas__card__title {
  font-weight: bold;
}
