.presentation__container {
  @include fullflex(column, center, center);

  margin-top: 2rem;
}

.presentation__information {
  text-transform: capitalize;
  width: 100%;
  h1 {
    font-family: $secondary-font;
  }
  h3 {
    font-weight: 300;
  }
  h3 span {
    font-size: inherit;
    font-family: $secondary-font;
    font-weight: bold;
  }
}

.presentation__image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.presentation__description {
  text-align: justify;
}

.presentation__credentials {
  @include fullflex(column);
  margin-top: 2rem;
  width: max(300px, 30%);
  border: rgb(215, 203, 186) 6px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2rem;
}

.login__form {
  @include fullflex(column);
  margin-top: 2rem;
  > a {
    font-size: 0.7rem;
    margin-top: 0.5rem;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.login__form__label {
  margin-top: 1rem;
  font-weight: 500;
}

.login__form__element {
  margin-top: 1rem;
  height: 40px;
  padding-left: 0.5rem;
}

.login__button {
  @include submitbutton;
  margin: 3rem auto 0rem;
  height: 40px;
  width: 100%;
}

.register__request__row {
  @include fullflex(row, flex-start);
  margin-top: 1rem;
}

.register__request__text {
  font-size: 0.7rem;
}

.register__request__link {
  font-size: 0.7rem;
  padding-left: 0.5rem;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.my__content__container {
  margin-top: 5rem;
}

.my__content__cards__container {
  @include fullflex(row, center, normal, wrap);
}

.my__content__card {
  @include fullflex(column);
  @include plaincard;
  border: lightgray solid 1px;
  text-align: justify;
  padding: 3rem 1.5rem;
  margin: 1rem;
  width: max(300px, 30%);
  min-height: 350px;

  &:hover {
    @include hoveredcard;
  }
}

.my__content__card__image {
  margin: 0 auto;
  width: 100px;
}

.my__content__card__title {
  font-weight: bold;
}

.messages__container {
  margin-top: 5rem;
}

.messages__cards__container {
  @include fullflex(row, center, center, wrap);
}

.messages__cards {
  @include fullflex(column);
  width: max(300px, 30%);
  border: lightgrey 1px solid;

  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.messages__cards__title {
  @include fullflex(row);
  margin-top: 1rem;
  padding-left: 1rem;
}

.messages__cards__images {
  width: 24px;
  height: 24px;
  margin: auto 0;
}

.messages__cards__profileinfo {
  @include fullflex(column, space-between);
  margin-left: 2rem;
}

.messages__cards__username {
  font-weight: bold;
  margin-bottom: 0;
}

.messages__cards__email {
  font-size: 0.7rem;
  margin-bottom: 0;
}

.messages__cards__text {
  margin-top: 1rem;
  padding: 0.5rem 1rem 1rem;
  text-align: justify;
  font-size: 0.8rem;
}

.register__container {
  @include fullflex(column, center, center);
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.register__chart {
  @include fullflex(column);
  width: 30%;
  min-width: 300px;
  padding: 0rem 2rem 3rem;
  background-color: $pentannary-color;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.register__chart__title {
  text-align: center;
  padding-top: 1rem;
  font-weight: bold;
}

.register__chart__description {
  text-align: center;
  padding-top: 2.5rem;
  font-size: 0.8rem;
}

#register__form {
  padding-top: 1rem;
}

.register__form__content {
  @include fullflex(column);
}

.register__form__element {
  margin: 1rem 0rem 0.5rem;
  font-weight: 500;
}

.register__form__input {
  padding-left: 0.5rem;
}

.register__form__buttoncontainer {
  @include fullflex(row, space-between);
  margin-top: 2rem;
  display: flex;
}

.register__form__button {
  @include submitbutton;
  line-height: 30px;
  width: 100px;
}
