.prode__title {
  font-size: 1.5rem;
  font-weight: bold;
}

.prode__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.prode__form__card__container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.prode__form__card {
  border: solid 1px lightgray;
  border-radius: 5px;
  width: clamp(300px, 90vw, 400px);
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 3rem 3rem;
  /* grid-template-rows: auto auto auto 100px; */
  grid-template-areas:
    "league date date"
    "team_local match_outcome score_local"
    "team_visitor match_outcome score_visitor"
    "condition condition condition";
}

.prode__form__card__league {
  grid-area: league;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: darkgrey;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.prode__form__card__date {
  grid-area: date;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: end;
}

.prode__form__card__team--local {
  grid-area: team_local;
  margin-bottom: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.prode__form__card__team--visitor {
  grid-area: team_visitor;
  margin-bottom: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.prode__form__card__matchoutcome {
  grid-area: match_outcome;
  width: 3rem;
  font-weight: 500;
  border: solid 1px darkgrey;
  border-radius: 5px;
}

.prode__form__card__score--local {
  grid-area: score_local;
  font-weight: 500;
  min-height: 25px;
  border: solid 1px darkgrey;
  border-radius: 5px;
}

.prode__form__card__score--visitor {
  grid-area: score_visitor;
  font-weight: 500;
  min-height: 25px;
  border: solid 1px darkgrey;
  border-radius: 5px;
}

.prode__form__card__condition {
  grid-area: condition;
  font-size: 0.8rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
  padding: 0.5rem 0.25rem;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 50px;
}

.prode__form__button__submit {
  width: clamp(100px, 30vw, 200px);
  display: block;
  margin: 2rem auto 0rem;
  padding: 0.5em;
  text-align: center;
  background-color: #0d0d0d;
  color: #f2f2f2;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.prode__form__button__submit:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
